*{
    margin: 0;
    padding: 0;
}


/* Menu Section  */
.menu_header{
    text-align: center;
    margin-bottom: 50px;
    padding-top:10PX ;
}
.menu_section{
    background-color:snow;
    padding: 50px 20px;
    text-align: center;
}
.menu_container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,2fr)) ;
    gap: 20px;
}
.menu_items img{
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.menu_item h3{
    margin: 16px 0 10px;
}

price {

    font-size: 18px;

    color: #333;

    font-weight: bold;

}



.rating {

    color: #ff9900;

    font-size: 16px;

    margin-bottom: 10px;

}



.cart_form {

    display: flex;

    justify-content: center;

    margin-top: 10px;

}



.add-to-cart {

    background-color: #28a745;

    color: white;

    padding: 10px 20px;

    border: none;

    cursor: pointer;

    border-radius: 5px;

    text-align: center;

}



.add-to-cart:hover {

    background-color: #218838;

}



/* Footer */

.footer {

    background-color: #ebb96f;

    height: 50px;  /* Increased height for better visibility */

    text-align: center;

    padding: 10px 0;

}


/* footer  */
.footer{

background-color: #ebb96f;
height: 30px;
text-align: center;
  
}
